@model BeiDream.Demo.Web.Areas.Systems.Models.User.VmUserAddorEdit
<div class="divForm">
    <div class="formtitle">用户管理</div>
    <form id="form" class="form" action="@Url.Action("Save","User")" gridid="dg" confirm="确认是否保存吗？">
        <dl>
            <dt><label for="Name">用户名</label></dt>
            <dd>
                <input class="easyui-textbox" name="Name" data-options="required:true,missingMessage:'用户名不能为空',validType:'maxLength[100]'" value="@Model.Name" />
            </dd>
        </dl>
        <dl>
            <dt><label for="Password">密码</label></dt>
            <dd>
                <input class="easyui-textbox" name="Password" data-options="required:true,missingMessage:'密码不能为空',validType:'maxLength[40]'" value="@Model.Password" />
            </dd>
        </dl>
        <dl>
            <dt><label for="Email">邮箱</label></dt>
            <dd>
                <input class="easyui-textbox" name="Email" data-options="validType:'maxLength[200]'" value="@Model.Email" />
            </dd>
        </dl>
        <dl>
            <dt><label for="DisplayName">昵称</label></dt>
            <dd>
                <input class="easyui-textbox" name="DisplayName" data-options="validType:'maxLength[20]'" value="@Model.DisplayName" />
            </dd>
        </dl>
        <dl>
            <dt><label for="Enabled">启用</label></dt>
            <dd>
                <input class="easyui-combobox" name="Enabled" data-options="valueField:'value',textField:'text',url:'/User/ToYesOrNoResult'" value="@Model.Enabled.ToString()" />
            </dd>
        </dl>
        @*Id是数据标识*@
        @Html.HiddenFor(t => t.Id)
        @*Version是版本号,控制并发*@
        @Html.HiddenFor(t => t.Version)
        @*防止伪造提交操作*@
        @Html.AntiForgeryToken()
    </form>
</div>
<div id="dialogButtons">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok',width:90" onclick="$.easyui.form.submit(null, null, '', '')">保 存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',width:90" onclick="$.easyui.closeDialog()">关 闭</a>
</div>