@section head {
    <style type="text/css">
    </style>
}
@section SitePath {
    @*@*站点路径*@
    <div class="titlebar">
        <span class="title">当前位置：</span>
        <span>首页</span>
        <span class="bold">></span>
        <span>系统管理</span>
        <span class="bold">></span>
        <span>资源管理</span>
    </div>
}
@section top {
    @*工具栏*@
    <div class="toolbar">
        @*<a href="javascript:void(0)" class="easyui-linkbutton" data-options="width:70,iconCls:'icon-add'" onclick="$.easyui.Showdialog({ title: '添加用户', buttons: 'dialogButtons', url: '@Url.Action("Add", "User")' })">新 增</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnEdit" data-options="iconCls:'icon-edit'" onclick="$.easyui.Showdialog({ title: '编辑用户', buttons: 'dialogButtons', url: '@Url.Action("Edit", "User")', onInit: $.easyui.initEditDialog })">编辑用户</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="width:70,iconCls:'icon-remove'" onclick="$.easyui.grid.DeleteByUrl('@Url.Action("Delete", "User")','', 'dg')">删 除</a>*@
        <input type="button" value="新   增" onclick="$.easyui.Showdialog({ title: '添加角色', buttons: 'dialogButtons', url: '@Url.Action("Add", "Role")' })" />
        <input type="button" value="修   改" onclick="$.easyui.Showdialog({ title: '编辑角色', buttons: 'dialogButtons', url: '@Url.Action("Edit", "Role")', onInit: $.easyui.initEditDialog })" />
        <input type="button" value="删   除" onclick="$.easyui.grid.DeleteByUrl('@Url.Action("Delete", "Role")','', 'dg')" />
    </div>
}
@section content {
    @*查询表单*@
    @Html.Partial("Parts/QueryForm")
    <table id="dg"></table>
}
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                idField: "Id",
                fit: true,
                toolbar: "#divQuery",
                fitColumns: true,
                rownumbers: true,
                singleSelect: true,
                pagination: true,
                pageSize: 20,
                sortName: "CreationTime",
                sortOrder: "desc",
                url: '@Url.Action("Query","Role")',
                columns: [[
                    { field: 'Id', checkbox: true },
                    { field: 'Name', title: '角色名', sortable: true, width: 100, halign: "center" },
                    { field: 'IsAdmin', title: '是否管理员', align: 'right', width: 100, halign: "center", formatter: $.easyui.format.Bool },
                    { field: 'Enabled', title: '是否启用', align: 'right', sortable: true, width: 100, halign: "center", formatter: $.easyui.format.Bool },
                    { field: 'DateCreated', title: '创建时间', align: 'right', sortable: true, width: 100, halign: "center" }
                ]]
            });
        });
    </script>
}

